@import 'node_modules/susy/sass/susy';
@import 'node_modules/susy/sass/susy-prefix';
@import "bower_components/breakpoint-sass/stylesheets/breakpoint";



$susy: (
  'spread': 'wider',
  'container-spread': 'narrow'
);


@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

$colors: (
      primary: #0CA0A0,
      accent: #FFFFFF,

);
body{
  margin: 10 auto;
  width: auto;
  background-color: map-get($colors, primary);

  @include breakpoint(desktop) {
      width:960px;
      margin: auto;
	}
}
.topbar {
  display: flex;
}

.col1 {
  flex-basis: span(1 of 12);
}

.col2 {
  flex-basis: span(1 of 12);
}
.col3 {
  flex-basis: span(1 of 12);
}
.col4 {
  flex-basis: span(1 of 12);
}
.col5 {
  flex-basis: span(1 of 12);
}
.col6 {
  flex-basis: span(1 of 12);
}
.col7 {
  flex-basis: span(1 of 12);
}
.col8 {
  flex-basis: span(1 of 12);
}
.col9 {
  flex-basis: span(1 of 12);
}
.col10 {
  flex-basis: span(1 of 12);
}
.col11 {
  flex-basis: span(1 of 12);
}

.col12 {
  flex-basis: span(1 of 12);
}


.header {
  display: flex;
}



.log{
  flex-basis: span(4 of 12);
}

.tel{
  flex-basis: span(4 of 12);
}
